.resourceApp{
  margin: auto 32px;
  background-color: #ffa500;
  border-radius: 20px;
}

.title{
  margin-top: 24px;
  margin-left: 32px;
}

.resourceSection{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 24px;
  margin-left: 32px;
  padding-bottom: 32px;
}

.resourceContent{
  margin:auto;
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  flex-direction: column-reverse;
  border-radius: 5px;

  @media screen and (min-width: 600px) and (max-width: 768px) {
    flex-direction: row;
  }

  @media screen and (min-width: 769px) and (max-width: 968px) {
    min-width: 600px;
    flex-direction: row;
  }

  @media screen and (min-width: 1024px) {
    min-width: 800px;
    flex-direction: row;
  }
}


.resourceList{
  min-width: 180px;
  border-right: 1px solid black;
}
.resourceForm{
  margin: auto;
  margin-top: 24px;
}

.form{
  display: flex;
  flex-direction: column;
}

.tile{
  border-bottom: 1px solid black;
  display: flex;

  flex-direction: row;
  justify-content: space-between;
}

.tile:hover{
  background-color: black;
  color: white;
  border: 3px black solid;
}
.infoSection{
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.colorDiv{
  width: 40%;
  display: block;
}
